name: GruvboxTelegram
shortname: gruvboxTelegram
chat_inFileBackgroundSelected: #32302F
chat_unreadMessagesStartText: #FBF1C7
chat_editDoneIcon: #458588
radioBackgroundChecked: #8EC07C
dialogTextBlue: #8EC07C
windowBackgroundGrayShadow: #1D2021
chat_inSentClockSelected: #FBF1C7C8
avatar_backgroundActionBarGreen: #282828
chat_goDownButtonCounterBackground: #FABD2F
chat_mediaLoaderPhotoSelected: #23779087
actionBarActionModeDefault: #282828
actionBarActionModeDefaultTop: #3C3836
dialogCheckboxSquareBackground: #458588
chats_menuPhone: #FBF1C799
avatar_actionBarIconOrange: #689D6A
sessions_devicesImage: #8EC07C
chat_outViews: #EBDBB2
avatar_actionBarSelectorCyan: #203944
chat_secretTimerBackground: #282828
chat_botKeyboardButtonText: #EBDBB2
chat_outViaBotNameText: #83A598
profile_actionPressedBackground: #689D6A
key_chat_messagePanelVoiceLock: #EBDBB2
chat_secretChatStatusText: #8EC07C
switchTrack: #5B7F8D88
chat_messagePanelVoicePressed: #8EC07C
chat_inPreviewInstantSelectedText: #FBF1C7
location_sendLocationBackground: #B16286
actionBarDefaultSubmenuBackground: #282828
avatar_nameInMessageViolet: #D3869B
emptyListPlaceholder: #EBDBB2
chat_inAudioSelectedProgress: #FBF1C7
chats_nameMessage: #D5C4A1
chat_messagePanelShadow: #282828
contacts_inviteBackground: #EBDBB2
avatar_subtitleInProfileViolet: #8EC07C
chat_gifSaveHintText: #DFF1F7
chat_messagePanelCancelInlineBot: #EBDBB2
checkbox: #458588
actionBarWhiteSelector: #203944
chat_outAudioSeekbarFill: #458588
chat_botKeyboardButtonBackgroundPressed: #8EC07C
chat_botKeyboardButtonBackground: #8EC07C
player_time: #D5C4A1
chat_goDownButtonShadow: #8EC07C
chat_outFileProgressSelected: #FBF1C7
chat_outTimeSelectedText: #FBF1C7
chat_inFileProgressSelected: #FBF1C7
changephoneinfo_image: #939393
avatar_backgroundPink: #D3869B
chat_outBroadcast: #EBDBB2
chat_inAudioPerfomerText: #EBDBB2
musicPicker_checkboxCheck: #282828
login_progressOuter: #EBDBB2
player_button: #D5C4A1
avatar_backgroundInProfileOrange: #FABD2F
chat_inContactNameText: #EBDBB2
chats_menuPhoneCats: #FBF1C799
chat_outPreviewLine: #83A598
dialogScrollGlow: #504945
chat_messagePanelHint: #BDAE93
windowBackgroundGray: #3C3836
chat_inViaBotNameText: #83A598
chat_outVoiceSeekbar: #458588
dialogGrayLine: #B16286
player_actionBarTitle: #EBDBB2
chat_outFileIcon: #D65D0E
calls_ratingStar: #8EC07C
picker_badgeText: #282828
chat_inFileProgress: #FBF1C7
dialogIcon: #8EC07C
chat_emojiPanelEmptyText: #91B1BD
chat_emojiPanelBackspace: #458588
chat_replyPanelClose: #BDAE93
featuredStickers_addButtonPressed: #689D6A
chat_outAudioTitleText: #EBDBB2
chat_emojiPanelStickerSetNameIcon: #458588
chat_emojiPanelBackground: #282828
chats_unreadCounter: #FABD2F
chat_recordedVoiceProgressInner: #458588
groupcreate_hintText: #EBDBB2
featuredStickers_buttonText: #FBF1C7
chat_inReplyMediaMessageSelectedText: #FBF1C7
chat_stickerViaBotNameText: #FBF1C7
avatar_actionBarSelectorOrange: #203944
dialogCheckboxSquareUnchecked: #458588
avatar_backgroundInProfileRed: #FB4934
chat_inBubble: #504945
chat_emojiPanelNewTrending: #458588
chat_emojiPanelStickerPackSelector: #8EC07C
chat_unreadMessagesStartArrowIcon: #FBF1C7
avatar_backgroundActionBarOrange: #282828
chat_stickerReplyLine: #FBF1C7
windowBackgroundWhiteBlackText: #EBDBB2
avatar_backgroundActionBarBlue: #282828
dialogTextLink: #8EC07C
chat_previewGameText: #83A598
chat_recordTime: #EBDBB2
files_folderIconBackground: #B16286
windowBackgroundWhiteBlueHeader: #8EC07C
chat_messagePanelVoiceBackground: #FE8019
sharedMedia_linkPlaceholderText: #FBF1C7
dialogCheckboxSquareCheck: #282828
player_seekBarBackground: #282828
groupcreate_onlineText: #D5C4A1
divider: #040B1056
actionBarDefaultIcon: #689D6A
chat_topPanelLine: #83A598
avatar_backgroundViolet: #D3869B
chat_botProgress: #FBF1C7
chat_inReplyMessageText: #EBDBB2
dialogInputField: #A89984
windowBackgroundWhiteInputFieldActivated: #B16286
chat_outInstantSelected: #83A598
chat_outSentCheck: #83A598
player_placeholder: #D5C4A1
chat_outFileSelectedIcon: #FE8019
picker_disabledButton: #D5C4A188
groupcreate_spanBackground: #B16286
dialogButton: #FBF1C7
featuredStickers_buttonProgress: #B16286
contextProgressInner1: #EBDBB241
player_duration: #D5C4A1
chat_inLoaderPhotoIconSelected: #FBF1C7
contextProgressInner3: #8EC07C
actionBarDefaultSubtitle: #458588
contextProgressInner2: #EBDBB241
chat_inContactPhoneText: #A89984
chat_inlineResultIcon: #EBDBB2
chats_draft: #FF525D
dialogLineProgress: #458588
chat_previewDurationText: #83A598
chat_serviceLink: #FBF1C7
chat_outPreviewInstantText: #83A598
chat_inMenuSelected: #FE8019
avatar_backgroundOrange: #FABD2F
avatar_actionBarSelectorGreen: #203944
chat_inLoaderSelected: #FE8019
chat_outLocationIcon: #D65D0E
avatar_actionBarIconViolet: #689D6A
dialogTextRed: #CC241D
chat_inBubbleShadow: #A8998417
chat_outAudioProgress: #FBF1C7
dialogProgressCircle: #8EC07C
findme: #83A598
checkboxSquareCheck: #282828
stickers_menu: #8EC07C
avatar_subtitleInProfilePink: #8EC07C
player_progress: #458588
chat_stickerReplyMessageText: #FBF1C7
chat_inReplyLine: #83A598
dialogBackground: #282828
dialogLineProgressBackground: #D5C4A1
chat_inReplyNameText: #83A598
chat_gifSaveHintBackground: #192F36
actionBarActionModeDefaultIcon: #689D6A
profile_title: #EBDBB2
windowBackgroundWhiteRedText4: #CC241D
windowBackgroundWhiteRedText3: #CC241D
chat_goDownButtonIcon: #CEDBDF
windowBackgroundWhiteRedText6: #CC241D
windowBackgroundWhiteRedText5: #CC241D
avatar_actionBarIconRed: #689D6A
featuredStickers_delButtonPressed: #689D6A
chat_outAudioSelectedProgress: #FBF1C7
chat_messageTextOut: #EBDBB2
chat_inInstant: #83A598
groupcreate_cursor: #EBDBB2
returnToCallBackground: #83A598
checkboxSquareUnchecked: #5B7F8D
dialogCheckboxSquareDisabled: #45858888
chat_fieldOverlayText: #8EC07C
chat_messagePanelVoiceDuration: #282828
player_actionBar: #282828
chat_messagePanelSend: #458588
switchThumb: #5B7F8D
windowBackgroundWhiteRedText2: #CC241D
chats_nameIcon: #EBDBB2
avatar_backgroundBlue: #83A598
chat_inSentClock: #8CA3A7
avatar_nameInMessageRed: #FB4934
dialogBadgeText: #282828
chat_outLoaderPhoto: #1D202154
chat_mediaLoaderPhotoIcon: #BDAE93
chat_botSwitchToInlineText: #EBDBB2
chat_mediaSentCheck: #FBF1C7E5
avatar_backgroundInProfilePink: #FF8AAC
avatar_nameInMessageOrange: #FABD2F
featuredStickers_unread: #8EC07C
chats_pinnedIcon: #7A5715
chat_replyPanelLine: #282828
avatar_subtitleInProfileOrange: #8EC07C
chat_outSentCheckSelected: #FBF1C7
chat_inVenueInfoSelectedText: #FBF1C7
dialogTextBlue2: #8EC07C
avatar_backgroundGroupCreateSpanBlue: #83A598
dialogTextBlue3: #8EC07C
dialogTextBlue4: #8EC07C
windowBackgroundWhiteGreenText: #B8BB26
chat_emojiPanelIcon: #458588
chat_topPanelMessage: #EBDBB2
chat_stickerNameText: #B16286
chat_emojiPanelTrendingDescription: #91B1BD
dialogRoundCheckBoxCheck: #5B7F8D
calls_callReceivedGreenIcon: #8EC07C
chat_botButtonText: #FBF1C7
chats_pinnedOverlay: #32302F
windowBackgroundWhiteInputField: #A89984
avatar_backgroundRed: #FB4934
chat_emojiPanelIconSelector: #8EC07C
chat_stickerReplyNameText: #FBF1C7
chat_inForwardedNameText: #83A598
chats_sentError: #CC241D
groupcreate_checkbox: #458588
chats_actionBackground: #B16286
avatar_nameInMessageGreen: #B8BB26
chat_outContactNameText: #EBDBB2
chat_inSiteNameText: #83A598
chat_linkSelectBackground: #32302F
dialogLinkSelection: #8EC07C88
windowBackgroundWhiteBlueText: #8EC07C
avatar_nameInMessageCyan: #83A598
chat_mediaLoaderPhotoIconSelected: #FBF1C7
chat_inLocationBackground: #504945
contextProgressOuter3: #8EC07C
radioBackground: #458588
actionBarDefaultSearch: #EBDBB2
contextProgressOuter1: #EBDBB2
contextProgressOuter2: #EBDBB2
avatar_backgroundActionBarPink: #282828
chat_inFileIcon: #D65D0E
dialogTextGray3: #458588
dialogTextGray2: #458588
dialogTextGray4: #458588
avatar_actionBarIconCyan: #689D6A
chat_searchPanelIcons: #EBDBB2
chat_inAudioSeekbarSelected: #3E5964
windowBackgroundWhiteLinkText: #8EC07C
chat_outVenueInfoText: #EBDBB2
chat_outContactPhoneText: #D5C4A1
chat_inAudioTitleText: #EBDBB2
chat_messageLinkIn: #83A598
chats_menuBackground: #282828
chat_serviceBackground: #383838D5
chats_secretIcon: #EBDBB2
windowBackgroundWhiteGrayLine: #A89984
chat_inFileBackground: #504945
chat_inBubbleSelected: #32302F
chat_mediaMenu: #8EC07C
chat_outInstant: #83A598
chat_outViewsSelected: #EBDBB2
chat_emojiPanelShadowLine: #282828
actionBarDefaultSearchPlaceholder: #EBDBB2
actionBarActionModeDefaultSelector: #203944
chat_outForwardedNameText: #83A598
dialogRoundCheckBox: #458588
chat_emojiPanelTrendingTitle: #91B1BD
featuredStickers_delButton: #B16286
returnToCallText: #FBF1C7
switchThumbChecked: #458588
chat_stickersHintPanel: #EBDBB2
chat_outSiteNameText: #83A598
windowBackgroundWhite: #282828
groupcreate_offlineText: #D5C4A1
chat_inVoiceSeekbarSelected: #83A598
avatar_backgroundCyan: #83A598
dialogTextGray: #EBDBB2
chat_messageLinkOut: #83A598
chat_emojiPanelStickerSetName: #458588
dialogRadioBackgroundChecked: #B16286
picker_badge: #458588
fastScrollText: #282828
chat_inVenueNameText: #EBDBB2
chat_mediaViews: #EBDBB2
chat_outFileInfoSelectedText: #FBF1C7
chats_tabletSelectedOverlay: #689D6A77
chat_outAudioDurationSelectedText: #FBF1C7
chats_unreadCounterText: #FBF1C7
avatar_actionBarSelectorPink: #203944
dialogTextHint: #BDAE93
chat_topPanelTitle: #8EC07C
chat_outContactIcon: #7C6F64
avatar_subtitleInProfileBlue: #8EC07C
chat_inFileInfoText: #A89984
featuredStickers_addButton: #B16286
key_chat_messagePanelVoiceLockShadow: #282828
chat_inPreviewLine: #83A598
avatar_backgroundGreen: #B8BB26
profile_creatorIcon: #83A598
chat_mediaTimeText: #EBDBB2
avatar_subtitleInProfileGreen: #8EC07C
profile_actionBackground: #B16286
chats_sentCheck: #83A598
chats_unreadCounterMuted: #7C6F64
chat_outVoiceSeekbarFill: #458588
chat_outReplyLine: #83A598
chat_inAudioSeekbarFill: #458588
chat_messagePanelIcons: #689D6A
chat_inReplyMediaMessageText: #A89984
inappPlayerTitle: #EBDBB2
chat_emojiPanelIconSelected: #8EC07C
chat_inContactBackground: #D65D0E
progressCircle: #8EC07C
chat_outVenueInfoSelectedText: #FBF1C7
chats_menuItemIcon: #689D6A
wallpaperFileOffset: #00457C00
chat_outBubbleShadow: #A8998417
chat_outVenueNameText: #EBDBB2
checkboxSquareBackground: #458588
chat_mediaSentClock: #FBF1C7C8
files_folderIcon: #FBF1C7
chats_menuCloudBackgroundCats: #458588
chat_topPanelClose: #504945
profile_adminIcon: #B16286
chats_verifiedBackground: #8EC07C
chat_inTimeSelectedText: #FBF1C7
chat_outFileBackgroundSelected: #1D2021
chat_outVoiceSeekbarSelected: #83A598
windowBackgroundWhiteGrayIcon: #EBDBB2
avatar_backgroundActionBarViolet: #282828
actionBarDefaultTitle: #EBDBB2
avatar_actionBarIconPink: #689D6A
profile_verifiedCheck: #282828
chat_mediaTimeBackground: #1D202154
chat_secretTimerText: #EBDBB2
chats_menuName: #FBF1C7
listSelectorSDK21: #665C54F0
key_chat_messagePanelVoiceLockBackground: #282828
chat_outFileNameText: #EBDBB2
picker_enabledButton: #D5C4A1
avatar_backgroundInProfileViolet: #D3869B
inappPlayerBackground: #282828
avatar_nameInMessagePink: #B16286
windowBackgroundWhiteGrayText: #A89984
musicPicker_buttonBackground: #B16286
chat_serviceIcon: #FBF1C7
avatar_actionBarSelectorViolet: #203944
chats_actionIcon: #FBF1C7
avatar_nameInMessageBlue: #D79921
dialogTextBlack: #EBDBB2
actionBarDefault: #282828
profile_actionIcon: #FBF1C7
actionBarDefaultSelector: #504945
chats_menuTopShadow: #83A598
chat_outAudioPerfomerText: #EBDBB2
sharedMedia_startStopLoadIcon: #8EC07C
chat_serviceBackgroundSelected: #7C6F64
inappPlayerPlayPause: #458588
chat_inVenueInfoText: #EBDBB2
chat_replyPanelIcons: #458588
checkboxSquareDisabled: #5B7F8D
fastScrollInactive: #FBF1C753
chat_outSentClockSelected: #FBF1C7C8
featuredStickers_addedIcon: #458588
chat_recordedVoicePlayPausePressed: #458588
chat_goDownButtonCounter: #FBF1C7
musicPicker_checkbox: #458588
chat_outFileBackground: #7C6F64
chats_name: #EBDBB2
whatever: #B16286
dialogBadgeBackground: #8EC07C
chat_outBubbleSelected: #1D2021
avatar_backgroundInProfileBlue: #83A598
chat_lockIcon: #EBDBB2
chat_inFileNameText: #EBDBB2
inappPlayerPerformer: #EBDBB2
chat_inInstantSelected: #83A598
chat_inLocationIcon: #D65D0E
chat_outFileInfoText: #D5C4A1
groupcreate_checkboxCheck: #5B7F8D
chat_unreadMessagesStartBackground: #1A313D
chat_inLoaderPhoto: #1D202154
chat_inFileInfoSelectedText: #FBF1C7
chat_outMenuSelected: #FE8019
chats_sentErrorIcon: #282828
fastScrollActive: #FBF1C77A
chat_outLoaderPhotoSelected: #23779087
chat_muteIcon: #EBDBB2
chat_selectedBackground: #32302F66
chat_inAudioDurationText: #A89984
chat_recordedVoiceBackground: #689D6A
chat_secretTimeText: #B16286
groupcreate_sectionText: #8EC07C
actionBarDefaultSubmenuItem: #EBDBB2
dialogInputFieldActivated: #B16286
chat_recordedVoicePlayPause: #282828
chats_actionMessage: #D5C4A1
login_progressInner: #B16286
chat_inLoaderPhotoIcon: #EFEFEF
location_markerX: #8EC07C
avatar_actionBarSelectorBlue: #203944
chat_addContact: #B16286
switchTrackChecked: #45858888
chat_inLoader: #D65D0E
windowBackgroundWhiteHintText: #EBDBB2
groupcreate_spanText: #FBF1C7
chat_outPreviewInstantSelectedText: #FBF1C7
player_actionBarSelector: #203944
avatar_actionBarIconBlue: #689D6A
chat_outTimeText: #D5C4A1
chat_outBubble: #7C6F64
avatar_backgroundActionBarCyan: #282828
chat_emojiPanelMasksIconSelected: #8EC07C
chats_verifiedCheck: #7C6F64
chats_menuItemText: #EBDBB2
chats_message: #D5C4A1
musicPicker_buttonIcon: #FBF1C7
chat_outReplyNameText: #83A598
chat_outReplyMediaMessageText: #D5C4A1
chat_textSelectBackground: #EBDBB2
chat_messagePanelVoiceDelete: #689D6A
chat_mediaBroadcast: #B16286
chat_inAudioProgress: #FBF1C7
chats_date: #BDAE93
chat_messagePanelText: #EBDBB2
player_buttonActive: #EBDBB2
chat_outLoaderPhotoIcon: #A89984
chat_outContactBackground: #D65D0E
sharedMedia_linkPlaceholder: #83A598
windowBackgroundWhiteBlueText7: #8EC07C
windowBackgroundWhiteBlueText6: #8EC07C
calls_callReceivedRedIcon: #CC241D
chat_outLocationBackground: #7C6F64
windowBackgroundWhiteBlueText3: #8EC07C
windowBackgroundWhiteBlueText2: #8EC07C
windowBackgroundWhiteBlueText5: #8EC07C
windowBackgroundWhiteBlueText4: #8EC07C
chat_replyPanelMessage: #EBDBB2
stickers_menuSelector: #8EC07C
chat_inViewsSelected: #EBDBB2
chat_mediaProgress: #FBF1C7
windowBackgroundWhiteLinkSelection: #8EC07C
inappPlayerClose: #458588
player_actionBarSubtitle: #458588
chats_sentClock: #83A598
chat_inAudioSeekbar: #3E5964
avatar_subtitleInProfileRed: #8EC07C
avatar_backgroundActionBarRed: #282828
chat_inPreviewInstantText: #83A598
chat_inViews: #EBDBB2
chat_messagePanelVoiceShadow: #8EC07CD0
chats_menuCloud: #FBF1C7
chat_outLoaderSelected: #FE8019
dialogButtonSelector: #689D6A
chat_mediaInfoText: #83A598
player_actionBarItems: #689D6A
chat_sentError: #CC241D
avatar_actionBarSelectorRed: #203944
chat_inAudioDurationSelectedText: #FBF1C7
player_progressBackground: #D5C4A1
windowBackgroundWhiteGrayText2: #EBDBB2
chat_outAudioSeekbarSelected: #3E5964
chat_outLoaderPhotoIconSelected: #FBF1C7
player_actionBarTop: #3C3836
windowBackgroundWhiteGrayText7: #EBDBB2
windowBackgroundWhiteGrayText8: #EBDBB2
windowBackgroundWhiteGrayText5: #EBDBB2
windowBackgroundWhiteGrayText6: #EBDBB2
windowBackgroundWhiteGrayText3: #EBDBB2
windowBackgroundWhiteGrayText4: #EBDBB2
chat_inTimeText: #A89984
files_iconText: #282828
dialogRadioBackground: #458588
avatar_actionBarIconGreen: #689D6A
windowBackgroundWhiteRedText: #CC241D
chat_outReplyMessageText: #EBDBB2
chat_recordedVoiceDot: #458588
chat_messagePanelBackground: #282828
chat_recordedVoiceProgress: #282828
chat_inLoaderPhotoSelected: #23779087
groupcreate_sectionShadow: #282828
chat_sentErrorIcon: #282828
checkboxCheck: #282828
chat_inVoiceSeekbarFill: #83A598
chat_outAudioSeekbar: #3E5964
graySection: #282828
chats_muteIcon: #EBDBB2
chat_inVoiceSeekbar: #458588
chat_outFileProgress: #FBF1C7
profile_verifiedBackground: #8EC07C
chat_outLoader: #D65D0E
chats_actionPressedBackground: #689D6A
location_sendLocationIcon: #FBF1C7
contacts_inviteText: #282828
windowBackgroundWhiteGreenText2: #B8BB26
chat_replyPanelName: #8EC07C
windowBackgroundWhiteValueText: #8EC07C
chat_outAudioDurationText: #D5C4A1
avatar_backgroundInProfileGreen: #B8BB26
chat_goDownButton: #8EC07C
chat_outMenu: #D65D0E
chats_secretName: #EBDBB2
chat_inMenu: #D65D0E
chat_recordVoiceCancel: #EBDBB2
chat_inFileSelectedIcon: #FE8019
chat_outReplyMediaMessageSelectedText: #FBF1C7
avatar_backgroundInProfileCyan: #83A598
chat_mediaLoaderPhoto: #1D202154
calls_ratingStarSelected: #8EC07C
chat_reportSpam: #EBDBB2
chat_messageTextIn: #EBDBB2
avatar_subtitleInProfileCyan: #8EC07C
chat_serviceText: #FBF1C7
chat_emojiPanelMasksIcon: #458588
chats_attachMessage: #D5C4A1
chat_topPanelBackground: #32302F
avatar_text: #FBF1C7
chat_outSentClock: #83A598
chat_searchPanelText: #EBDBB2
dialogBackgroundGray: #504945
chat_inContactIcon: #504945
wallpaper: t.me/bg/TgUMTdhV5VIBAAAA9biIr4OU_KU
windowBackgroundChecked: #83A598
dialog_inlineProgressBackground: #F0F2F5F6
windowBackgroundWhiteBlueIcon: #83A598
sharedMedia_actionMode: #458588
chats_actionUnreadPressedBackground: #A89984
chat_attachAudioBackground: #FB4934
switchTrackBlueThumb: #FBF1C7
groupcreate_spanDelete: #FBF1C7
chat_attachMediaBanBackground: #464646
actionBarDefaultArchived: #665C54
chat_inMediaIcon: #FBF1C7
dialogSearchBackground: #EBDBB2
chat_emojiSearchBackground: #A89984
key_sheet_other: #A89984
switch2Track: #D3869B
location_sendLiveLocationBackground: #D3869B
dialog_inlineProgress: #6B7378
chats_nameMessage_threeLines: #424449
chat_adminText: #A89984
chat_inContactPhoneSelectedText: #2F3438
dialogSearchText: #222222
chat_shareBackgroundSelected: #728FA699
actionBarTabUnactiveText: #83A598
chat_inMediaIconSelected: #EBDBB2
chat_attachAudioIcon: #FBF1C7
chat_attachGalleryIcon: #FBF1C7
chat_outSentCheckRead: #5DB050
chat_status: #83A598
changephoneinfo_image2: #83A598
passport_authorizeBackgroundSelected: #458588
switchTrackBlueChecked: #458588
dialogShadowLine: #00000012
chat_attachMediaBanText: #FBF1C7
profile_status: #83A598
dialogTopBackground: #83A598
chat_attachGalleryBackground: #458588
key_graySectionText: #7F8991
chat_attachPhotoBackground: #00000008
contextProgressInner4: #CACDD0
location_sendLiveLocationIcon: #FBF1C7
location_liveLocationProgress: #458588
chat_attachContactIcon: #EBDBB2
chat_outSentCheckReadSelected: #5DB050
chat_attachLocationBackground: #36C766
chat_inAudioPerfomerSelectedText: #2F3438
chat_outAudioPerfomerSelectedText: #354234
chats_onlineCircle: #4BCB1C
avatar_backgroundSaved: #83A598
chats_sentReadCheck: #46AA36
passport_authorizeBackground: #83A598
chat_attachPollIcon: #FBF1C7
chat_emojiPanelStickerSetNameHighlight: #458588
dialogTextRed2: #DE3A3A
chats_nameMessageArchived: #A89984
chat_attachActiveTab: #83A598
dialogSearchHint: #98A0A7
actionBarDefaultArchivedSelector: #1D2021
switchTrackBlueThumbChecked: #FBF1C7
chat_attachUnactiveTab: #92999E
actionBarTabActiveText: #FBF1C7
chat_emojiSearchIcon: #94A1AF
dialogCameraIcon: #FBF1C7
actionBarDefaultArchivedSearch: #FBF1C7
chat_emojiPanelBadgeBackground: #83A598
chat_messagePanelVideoFrame: #83A598
switch2TrackChecked: #83A598
contextProgressOuter4: #2F3438
chat_emojiPanelStickerPackSelectorLine: #83A598
chat_attachPermissionMark: #E25050
chat_messagePanelPressedSend: #FBF1C7
chat_inUpCall: #FF4848
actionBarDefaultArchivedIcon: #FBF1C7
dialogFloatingButtonPressed: #83A598
windowBackgroundCheckText: #FBF1C7
actionBarTabLine: #FBF1C7
chats_nameMessageArchived_threeLines: #5E5E5E
chat_outUpCall: #00C853
chats_archiveIcon: #EBDBB2
chats_nameArchived: #A89984
avatar_backgroundArchived: #D65D0E
avatar_backgroundArchivedHidden: #C6C9CC
undo_background: #272F38EA
chat_inAudioCacheSeekbar: #E4EAF03F
chat_attachCheckBoxBackground: #39B2F7
switchTrackBlue: #828E99
actionBarBrowser: #FBF1C7
chats_mentionIcon: #FBF1C7
windowBackgroundWhiteBlueButton: #1E88D3
actionBarDefaultSubmenuItemIcon: #676B70
chat_attachPollBackground: #F2C04B
location_placeLocationBackground: #4CA8EA
windowBackgroundUnchecked: #9DA7B1
sharedMedia_photoPlaceholder: #EDF3F7
switchTrackBlueSelectorChecked: #02478121
chats_actionUnreadBackground: #FBF1C7
switchTrackBlueSelector: #404A5317
chat_attachEmptyImage: #CCCCCC
actionBarDefaultSearchArchivedPlaceholder: #EBDBB288
chat_outContactPhoneSelectedText: #354234
chats_archiveText: #FBF1C7
chat_inDownCall: #00C853
chat_attachPermissionImage: #333333
player_placeholderBackground: #FBF1C7
chat_adminSelectedText: #83A598
key_player_progressCachedBackground: #FBF1C7
chat_attachFileBackground: #83A598
actionBarDefaultArchivedTitle: #FBF1C7
chats_menuTopBackgroundCats: #458588
dialogFloatingIcon: #FBF1C7
checkboxDisabled: #B0B9C2
actionBarTabSelector: #406D94
key_sheet_scrollUp: #E1E4E8
chat_attachLocationIcon: #FBF1C7
passport_authorizeText: #FBF1C7
undo_cancelColor: #83A598
chat_emojiPanelBadgeText: #FBF1C7
chat_attachPermissionText: #6F777A
chat_emojiBottomPanelIcon: #8C9197
player_background: #FBF1C7
chats_message_threeLines: #8E9091
chat_outMediaIcon: #EBDBB2
chat_attachContactBackground: #F2C04B
chat_outAudioCacheSeekbar: #BBE3AC3F
dialogSearchIcon: #A1A8AF
dialogFloatingButton: #83A598
chats_archiveBackground: #504945
dialog_liveLocationProgress: #83A598
chats_archivePinBackground: #A89984
chats_menuItemCheck: #458588
chat_messagePanelCursor: #83A598
chat_attachFileIcon: #FBF1C7
chat_attachCheckBoxCheck: #FBF1C7
chats_messageArchived: #A89984
chat_shareBackground: #728FA666
chat_outMediaIconSelected: #E1F8CF
chats_actionUnreadIcon: #737373
undo_infoColor: #FBF1C7
dialogRedIcon: #CC241D
